extends baseEmail

block content
  p Bonjour #{firstName},
  p Nous avons ajouté de nouveaux produits à notre catalogue chez julu-and-peer 🎉🎵
  p Découvrez les derniers ajouts à notre collection ci-dessous :
  
  each product in products
    div.product
      h3 #{product.name}
      p #{product.description}
      img(src=`${product.image}`, alt=`Image de ${product.name}`, style='max-width:100%;height:auto;')
  
  p Si vous avez besoin d'aide ou avez des questions, n'hésitez pas à nous contacter.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Accédez à notre boutique pour voir plus de produits
  p Merci de faire partie de la communauté julu-and-peer.
  p - julu-and-peer Shopping Paris-France